

<style>
.color-grid {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: 1fr;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-radius: 5px;
    line-height: 120%;
}

  .colorsubbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px 100px 40px 100px;
    grid-row-gap: 5px;
    text-align: center;
    justify-items: center;
    border: #F2F2F2 solid 1px;
    padding: 10px 10px 16px 10px;
    border-radius: 4px;
    background-color: #fff;
  }
  /*
  .cakeclr-img {
    height: 100px;
    width: auto;
  }
  
  .colorsubbox div {
    display: grid;
    align-items: center;
  }
  .clr-title {
    margin: 7px 0 5px 0;
  }
  .clr-subtitle {
    font-size: 80%;
  }


  @media (max-width: 600px) {

.color-grid {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
     grid-row-gap: 10px;
    grid-column-gap: 10px;
}
  .colorsubbox {
    grid-template-rows: 1fr 35px 70px 35px 70px;
  }
  .cakeclr-img {
    height: 75px;
    width: auto;
  }
 .clr-title {
   font-size: 80%;
 }
    .clr-subtitle {
    font-size: 70%;
  }
}
</style >



  
{% # use airtable "color" base for quick modification and editing  %}
  <div class="color-grid">

<div class="colorsubbox"><div class="clr-title">Super Red</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/101-gel-super-red-reg.jpg?v=1707014733" alt="Cake Color Swatch -  Regular Super Red" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/102-gel-super-red-pastel.jpg?v=1707014733" alt="Cake Color Swatch - Pastel Super Red" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Tourmaline</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/131-gel-tourmaline-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Tourmaline" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/132-gel-tourmaline-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Tourmaline" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Neon Pink</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/161-gel-neon-bright-pink-reg.jpg?v=1707015816" alt="Cake Color Swatch -  Regular Neon Bright Pink" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/162-gel-neon-bright-pink-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Neon Bright Pink" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Rose Pink</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/191-gel-rose-pink-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Rose Pink" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/192-gel-rose-pink-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Rose Pink" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Sunset Orange</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/221-gel-sunset-orange-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sunset Orange" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/222-gel-sunset-orange-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sunset Orange" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Golden Yellow</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/251-gel-golden-yellow-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Golden Yellow" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/252-gel-golden-yellow-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Golden Yellow" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Lemon Yellow</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/281-gel-lemon-yellow-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Lemon Yellow" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/282-gel-lemon-yellow-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Lemon Yellow" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Lime Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/311-gel-lime-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Lime Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/312-gel-lime-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Lime Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Leaf Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/341-gel-leaf-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Leaf Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/342-gel-leaf-green-pastel.jpg?v=1707015816" alt="Cake Color Swatch - Pastel Leaf Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Olive Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/371-gel-olive-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Olive Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/372-gel-olive-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Olive Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Teal Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/401-gel-teal-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Teal Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/402-gel-teal-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Teal Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Sky Blue</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/431-gel-sky-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sky Blue" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/432-gel-sky-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sky Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Royal Blue</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/461-gel-royal-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Royal Blue" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/462-gel-royal-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Royal Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Navy Blue</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/491-gel-navy-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Navy Blue" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/492-gel-navy-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Navy Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Sapphire</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/521-gel-sapphire-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sapphire" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/522-gel-sapphire-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sapphire" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Violet</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/551-gel-violet-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Violet" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/552-gel-violet-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Violet" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Burgundy Wine</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/581-gel-burgundy-wine-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Burgundy Wine" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/582-gel-burgundy-wine-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Burgundy Wine" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Brown</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/611-gel-brown-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Brown" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/612-gel-brown-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Brown" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Stone Gray</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/671-gel-stone-gray-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Stone Gray" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/672-gel-stone-gray-pastel.jpg?v=1707015814" alt="Cake Color Swatch - Pastel Stone Gray" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Black</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/701-gel-black-reg.jpg?v=1707015816" alt="Cake Color Swatch -  Regular Black" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/702-gel-black-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Black" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Ivory</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/641-gel-ivory-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Ivory" class="cakeclr-img imgreg" height="100" width="100"/>	<div></div><div></div></div>
<div class="colorsubbox"><div class="clr-title">Classic Gold</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/761-air-classic-gold-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Classic Gold" class="cakeclr-img imgreg" height="100" width="100"/><div></div><div></div></div>
<div class="colorsubbox"><div class="clr-title">True Silver</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/731-air-true-silver-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular True Silver" class="cakeclr-img imgreg" height="100" width="100"/><div></div><div></div></div>
    
    </div>
</div>
