
<style type="text/css">
 .colorsgrid {
	display: grid;
	grid-row-gap: 2px;
	grid-column-gap: 6px;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(auto-fit, minmax( 100px, 1fr));
	/*grid-template-columns: repeat(5, 1fr);*/
		
	}
 .colorsbox {
	display: grid;
	grid-row-gap: 2px;
	grid-column-gap: 2px;
	grid-template-rows: 1fr 1fr;
	/*grid-template-columns: repeat(auto-fit, minmax( 25px, 1fr));*/
	grid-template-columns: 1fr;
		
	}    
	.colorswatch {
		display: block;
		height: 50px;
		width: 100%;
		background-color:aqua;
	}
	.colorbox p {
		display: grid;
		align-items: center;
		justify-items: center;
		margin: 5px 0px 20px 0px;
		text-align: center;
		line-height: 120%;
	}

        
</style>


<div class="colorsgrid">
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #66589c;">&nbsp;</div>
    <p>Regular <br>
      Purple</p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #b488b5;">&nbsp;</div>
    <p>Pastel<br>
      Purple</p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #edd3e2;">&nbsp;</div>
    <p>Light<br>
      Purple </p>
  </div>
  
  <!--div class="colorbox">
                <div class="colorswatch" style="background-color: #294a81;">&nbsp;</div>
                <p><br>Navy Regular</p>
            </div-->
  
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #3c7bb9;">&nbsp;</div>
    <p>Regular<br>
      Blue </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #b4ddf0;">&nbsp;</div>
    <p>Pastel<br>
      Blue </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #eaf4f1;">&nbsp;</div>
    <p>Light<br>
      Blue </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #6ebfcd;">&nbsp;</div>
    <p>Regular<br>
      Teal </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #a6d4de;">&nbsp;</div>
    <p>Pastel<br>
      Teal </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #ddede9;">&nbsp;</div>
    <p>Light<br>
      Teal </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #98c153;">&nbsp;</div>
    <p>Neon <br>
      Green </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #7fba75;">&nbsp;</div>
    <p>Regular<br>
      Green </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #add0a1;">&nbsp;</div>
    <p>Pastel<br>
      Green </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #dce9cf;">&nbsp;</div>
    <p>Light<br>
      Green </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #f9e94f;">&nbsp;</div>
    <p>Regular<br>
      Yellow </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #fef7d4;">&nbsp;</div>
    <p>Pastel<br>
      Yellow </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #f8ca46;">&nbsp;</div>
    <p>Regular<br>
      Orange </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #fae3a6;">&nbsp;</div>
    <p>Pastel<br>
      Orange </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #f7dfe6;">&nbsp;</div>
    <p>Regular<br>
      Pink </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #fceded;">&nbsp;</div>
    <p>Pastel<br>
      Pink </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #e37881;">&nbsp;</div>
    <p>Hot<br>
      Pink </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #de5236;">&nbsp;</div>
    <p>Regular<br>
      Red </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #906537;">&nbsp;</div>
    <p>Regular<br>
      Brown </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #efc67e;">&nbsp;</div>
    <p>Pastel<br>
      Brown </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #f9e163;">&nbsp;</div>
    <p>Regular<br>
      Gold </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #fcf5c5;">&nbsp;</div>
    <p>Pastel<br>
      Gold </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #cad1c6;">&nbsp;</div>
    <p>Regular<br>
      Gray </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #edede5;">&nbsp;</div>
    <p>Pastel<br>
      Gray </p>
  </div>
  <div class="colorbox">
    <div class="colorswatch" style="background-color: #384338;">&nbsp;</div>
    <p>Regular<br>
      Black </p>
  </div>
</div>
