<div class="rivo-account-container">
  {% assign default_balance = shop.metafields.rivo.loy.points_program.ways_to_earn | first %}
  <div class="rivo-account-wrapper">
    <div class="text-align-center">
      <h2>Hi {{ customer.first_name }} 👋</h2>
      <p>
        You have <span class="rivo-points">{{ customer.metafields.custom.rivo.value.points_balance }}</span> points
      </p>
    </div>
    <div class="rivo-account-row margin-top-40">
      <div class="rivo-column">
        <h3 class="rivo-title_large">Rewards</h3>
        <div class="feature_divider"></div>

        <!-- Points Progress Bar -->
        {% render 'rivo-account-progressbar' %}

        <!-- Redeem a Reward -->
        {% render 'rivo-account-rewards' %}
      </div>
      <div class="rivo-column">
        <h3 class="rivo-title_large">Tier Status</h3>
        <div class="feature_divider"></div>
        <div>
          {% render 'rivo-account-tiers-progress' %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .rivo-account-wrapper {
    padding: 30px;
    background: #faeae6;
    margin: 40px auto;
    border-radius: 5px;
  }

  .rivo-account-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .margin-top-40 {
    margin-top: 40px;
  }

  .rivo-heading-border {
    margin-bottom: 10px;
  }

  .rivo-points {
    font-size: 32px;
    font-weight: 700;
  }

  .rivo-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-align-center {
    text-align: center;
  }

  .rivo-title_large {
    font-size: 30px;
    padding-top: 0;
    font-weight: 600;
    text-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000,
      -1.2px -1.2px 0 #000;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
  }

  .rivo-title_large {
    margin-bottom: 25px;
  }


  @media (max-width: 768px) {
    .rivo-account-row {
      grid-template-columns: 1fr !important;
    }
    .rivo-row {
      flex-direction: column;
    }
    .rivo-column {
      width: 100%;
    }
    .rivo-space-between {
      flex-direction: column;
    }
  }
</style>

<script type="text/javascript">
  // REDEEM REWARDS

    document.addEventListener("DOMContentLoaded", function(){
      document.querySelectorAll('.redeem').forEach(function(element) {
        element.addEventListener('click', function(event) {
          // redeem the reward and expect a promise with the data
          window.RivoJS.redeemReward(this.dataset.rewardId).then(function(data){
            console.log(data)
            alert("reward been redeemed");
          });
        });
      });
    });


    // UNLOCK NEXT VIP TIER

    document.addEventListener("rivo-js-loaded", function() {
    RivoJS.getCustomerVipTier().then(function(resp) {
      var pointsNeeded = resp.next_tier.to_spend_or_earn;
      var tierName = resp.next_tier.name;
      var vipInfoP = document.getElementById('vip-unlock');
      if (vipInfoP) {
        vipInfoP.innerHTML = "Earn " + pointsNeeded + " more points to become a " + tierName;
      }
    });
  });
</script>
