<section class="bh-section-banner bh-container bg-[#002631]">
    <div class="area-full flex flex-row space-x-6 sm:space-x-16 justify-center py-6 text-white text-[12px] sm:text-[16px] font-bold tracking-widest leading-none uppercase">
        <a href="#bh-section-redeem">Points</a>
        <a href="#bh-section-tiers">Tiers</a>
        <a href="#bh-section-refer">Referrals</a>
    </div>
</section>