/* CARD-PRODUCT CSS  */


.pcakes-grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

@media (max-width: 950px) {
.pcakes-grid-main  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}


.pcakes-grid-item {
    display: grid;

}





.pcakes-card-grid {
  display: grid;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0px 1fr 30px 30px 60px auto 20px;
  padding-bottom: 30px; 
}

.pcakes-button {
  width: 100%;
}


.pcakes-grid {
  display: grid;
}
