/* CARD-PRODUCT CSS  */


.pcakes-card-grid {
  display: grid;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0px 1fr 30px 30px 60px auto 20px;
  padding-bottom: 30px; 
}

.pcakes-button {
  width: 100%;
}


.pcakes-grid {
  display: grid;
}
