


/* TEXT */

p a, a {
  color: #8a54a8;
}

nav a {
  #ffffff
}

.txtcenter {
  text-align: center;
}

/* PAGES  */
.pagination-wrapper {
  display: none;
}

/* HEADER  */

.miniheadlinks {
  text-align: right;
  padding-right: 15px;
}
.miniheadlinks, .miniheadlinks a {
  font-size: 12px;
  text-decoration: none;
  color: #8a54a8;
}

.miniheadlinks a:hover {
  color: #e14984;
}

@media (max-width: 400px) {
.miniheadlinks-drop {
  display: none;
}
}




/* MEGA MENU  */
.mega-menu__link--level-2 {
  text-decoration: none!important;
  font-size: 1.8rem!important;
  border-bottom: 1px solid #e14984;
}

.mega-menu__list {
  grid-template-columns: repeat(4,minmax(0,1fr))!important;
}

.mega-menu__content, .mega-menu__content a {
  background-color: white!important;
  color: #e14984!important;
}
.mega-menu__content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header__menu-item {
  opacity: 1;
  rgba(255,255,255,1)!important;
}

.pc-mega-image {
  height: 250px;
  margin-top: 30px;
}


/* FOOTER  */
.pc-shoppay {
  max-width: 300px;
  padding: 25px 25px;
}

.bakeflowlogo-footer {
  height: 15px;
  margin: 0 0 -3px 0;
}

.pc-patty-footer {
  max-height: 350px;
}
.pc-patty-footer-cont {
  max-width: 1200px;
  text-align:right;
  display:grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: auto;
  padding: 0 10px;
}
.pc-patty-footer-cont h2 {
  margin: 100px 0 0px 0;
  font-size: 200%;
}
.pc-patty-footer-cont p {
  margin: 2px 0 2px 0;
  font-size: 120%;
}

@media (max-width: 600px) {
  .pc-patty-footer-cont {
    grid-template-columns: 2fr 1fr 0px;
  }
  .pc-patty-footer-cont div h2 {
    font-size: 140%
  }
  .pc-patty-footer-cont div p {
    font-size: 100%
  }
  
}

@media (max-width: 500px) {
.pc-patty-footer-cont div h2, .pc-patty-footer-cont div p  {
    display:none;
  }
    .pc-patty-footer-cont {
    grid-template-columns: 1fr 3fr 1fr;
  }
}



/* FOOTER REVIEWS  */

.section-sections--16655251341554__5f8a8777-6783-4b6f-9c73-9dd3a91bdd6a-padding  {
	background-color: #f3b6ce;
	padding: 30px;
}	
.pc-review-icons {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(6, 1fr);
    justify-items: center;

	}
.pc-review-icons img {
	width: 100%;
	max-width: 150px;
}	
@media (max-width: 700px) {	
.pc-review-icons {
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	}
}




/* CART FLYOUT */



//cart-notification-form {
  display: none;
}




.cart-notification {
  background-color: #ffffff;
}
 #cart-notification {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#cart-notification .icon {
  color: #8a54a8;
}

.cart-notification__heading, .cart-notification-product__name, button.link.button-label {
  color: #8a54a8;
}


#cart-notification-form button {
  background-color: #8a54a8;
  color: #ffffff;
  border: none;
  box-shadow: none;
}

#cart-notification-button {
  border: none;
  box-shadow: none;
}


#cart-notification-form .button:after, #cart-notification-button .button:after, parentNode  {
  box-shadow: none;
}




/* CART PAGE */

.cart__dynamic-checkout-buttons {
display: none;
}






	
.pc-cart-boxes {
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	grid-template-rows: auto auto;
	/*grid-template-columns: repeat(auto-fit, minmax( 500px, 1fr));*/
	grid-template-columns: 1fr 1fr;
}	

.pc-cart-boxes-sub, .pc-cart-boxes-note {
	display: grid;
	grid-row-gap: 2px;
	grid-column-gap: 2px;
	grid-template-rows: 1fr;
	border: .1rem solid rgba(var(--color-foreground),.08);
	padding: 20px;
}
.pc-cart-boxes-sub {
	grid-template-columns: 1fr 3fr;
	}
.pc-cart-boxes-note {
	grid-template-columns: 1fr;
	grid-column: span 2;
}
	
.pc-cart-boxes-img {
	display: grid;
	align-items: center;
	justify-items: center;
	}
.pc-cart-boxes-img img {
	max-width: 180px;
	}	
.pc-cart-boxes-text {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	}
	
.pc-cart-boxes-text {
	padding-left: 15px;
	}	
.pc-cart-boxes-text h2 {
	margin-bottom: 2px;
	}
.pc-cart-boxes p {
	margin: 2px 0 5px 0;
}	
.cart__note	{
	margin-top: 75px;
}

.pccartnote	{
	background-color: #FFF8FB;
	}

@media (max-width: 930px) {
	.pc-cart-boxes {
	grid-template-columns: 1fr;
	}
.pc-cart-boxes-note {
	grid-column: span 1;
}	
	}
@media (max-width: 500px) {
.pc-cart-boxes {
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}	
	
.pc-cart-boxes-img img {
	max-width: 110px;
	}
}
	
	



	
/* COLLECTION PAGES  */






/* product-card-grid  */

.product-form__quantity .quantity {
  width:100%;
}

.quick-add__submit {
  background-color: #e14984;
  color: #ffffff;
}
.quick-add__submit::after {
  box-shadow: none;
}

quantity::before {
  box-shadow: none;
}


/* ABOUT  PAGE  */

.pcmap {
  height: 400px;
  width: 100%;
  max-width: 1200px;
}




/* PRODUCT PAGE  */




/* PRODUCT PAGE ALLERGEN INFORMATION */
.allergrid {
  display: grid;
  grid-row-gap: 2px;
  grid-column-gap: 0px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  border-top: .1rem solid rgba(var(--color-foreground),.08);
  border-bottom: .1rem solid rgba(var(--color-foreground),.08);
  color: rgba(var(--color-foreground),.90)
  
  }
.allergrid div {
  display: grid;
  grid-row-gap: 2px;
  grid-column-gap: 0px;
  grid-template-rows: 1fr;
  grid-template-columns: 116px 4fr  80px 3fr; 
  
  }
  
.allergrid div div{
    display:block;
  }
  
.allertitle {
      font-weight: 600;
    padding: 5px 2px 5px 7px;
  }
.allercontent {
    padding: 5px 5px 5px 2px;
  }
  
.oddrow {background-color:#FFF8FB;}
  
.allerfooter {font-size: 70%;
  padding:10px;}

@media (max-width: 1350px) {
.allergrid div {
  grid-template-columns: 4fr 5fr; 
  



