/* CARD-PRODUCT CSS  */


.pcakes-grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
  grid-column-gap: 20px;
}

@media (max-width: 950px) {
.pcakes-grid-main  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}


.pcakes-grid-item {
    display: grid;

}





.pcakes-card-grid {
  display: grid;
  grid-row-gap: 2px;
  grid-column-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 30px 30px 30px auto;
  padding-bottom: 30px; 
  /* border: 1px solid limegreen; */
}

.pcakes-grid, .itemgrid1, .itemgrid2, .itemgrid3, .itemgrid4, .itemgrid15, .itemgrid6, .itemgrid7, .itemgrid8 {
  display: grid;
  /* border: 1px solid dodgerblue; */
}
.itemgrid1 {
  grid-row-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  /*border: 1px solid limegreen;*/
}

.pcakes-button {
  width: 100%;
}



.itemgrid2, .itemgrid3, .itemgrid4, .itemgrid5, .itemgrid6 {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;

}

  .bold_options {
    display: none;
  }


.img-banner-top, .img-banner-btm {
  
}
          
.imgbanner {
  background-color: #e14984;
  width: 100%;
  padding: 7px 5px;
  text-align: center;

}

.imgbanner span {
  color: white;
}

.img-banner-top .imgbanner  {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.img-banner-btm .imgbanner  {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}







