


/*   BOLD PRODUCT OPTIONS NEW  */

.product-form__input .select, .select__select, .product-form__input {
  width: 100%;
  max-width: 100%;
}

.bold_option_value {
  margin-right: 0px;
}
  
.bold_option_radio .bold_option_value label:hover, .selector-wrapper select {
  background-color: #e14984;
  color: #fff; 
}

/*  DROP DOWN COLOR - NEEDS WORK
.bold_option_dropdown .bold_option_element select:hover {
 background-color: #e14984;
}
*/


.bold_option_textbox .bold_option_element input, .bold_option_dropdown .bold_option_element select, .bold_option_uploadfile input, .selector-wrapper select, .bold_option_element textarea {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: whitesmoke;
}

.bold_option_value_title, .bold_option_element select {
color: #424242;  
}

/* DROP DOWN  */
.bold_option_element select { 
  margin: 2px 2px;
  padding: 6px 8px;
  display: block;
  font-size: 19px;
  /*color: rgba(var(--color-foreground),.75);*/
}

/*THIS IS HOW TO MAKE THE RADIO BUTTON SELECTABLE */
.bold_option_radio .bold_option_value label {
  border: 1px solid #eaeaea;
  margin: 2px 2px;
  width: 100%;
  padding: 2px 8px;
  border-radius: 4px;
  display: block;
  background-color: whitesmoke; 
}



.bold_option_title, .selector-wrapper label, .option-label, .flavorlist {
  color:#e14984;
}

.bold_option_error, .bold_option_error .bold_option_title {
  color: red !important; }

.bold_option_element, .bold_option_value_title {
  font-weight: normal !important; }




/*   BOLD PRODUCT OPTIONS OLD 
  
  
.bold_options {
  width: 100%;
  margin: 0 auto 20px auto;
  
}



.bold_option_value_element {
  /* margin: 0 0 0 10px;*/ }

.bold_option_value_element input {
 /* height: 10px; */
}

.bold_option_value_title {
 /* margin: 15px 0 0 15px;*/ }

.bold_option_value, .bold_option_value label {
  /* display: inline;
   margin: 0 0 -10px 0;*/ }

/*
.bold_option_element {
  margin: 10px 0 0 0; }

.bold_option_value {
  display: block; }

.bold_option_error, .bold_option_error .bold_option_title {
  color: red !important; }

.bold_error_message {
  color: white !important;
  padding: 2px 2px 2px 15px;
  background-color: red !important;
  font-weight: bold;
  margin-top: 5px; }





.bold_option_element textarea
.bold_option_set .bold_option_title, .product-form__item label {
  font-weight: 500;
  color: #000000;
  border-bottom: 1px solid #e14984;
  padding-bottom: 3px;
 
  width: 100%;
  display: block;
  margin-top: 15px; }

.product-form__item label {
  font-family: Ubuntu, sans-serif; }

.bold_option_value label {
  font-family: "Raleway", Verdana, Arial, Helvetica, sans-serif , Geneva, sans-serif; }

.bold_help_text, .bold_option_swatch .bold_option_element, .selector-wrapper select {
  /*max-width:350px;
  width: 100%; }

.bold_option_swatch .bold_option_element .bold_option_value label {
  border: none; }

.bold_option_value label {
  /*  margin: 15px 0 0 15px;
    display: inline; }

.bold_option_value_element {
  /*  margin: 15px 0 0 15px;
    display: inline; }

.bold_option_value_element input {
  /* margin: 15px 0 0 15px;
   display: inline; }

.bold_option_value_title {
  /* margin: 15px 0 0 15px; }

.bold_option_element select, .selector-wrapper select {
  font-size: 115%; }

.selector-wrapper select {
  margin-bottom: 15px; }

.bold_option_element select, .bold_option_element input {
  margin: 10px 0 0 0; }

.bold_option_value_price {
  padding: 0 0 0 20px;
  color: #8a54a8;
  font-weight: bold !important;
  font-size: 100% !important; }

.bold_option_value_price:hover {
  color: #fff; }

.bold_option_value_swatch {
  width: 70px !important;
  height: 70px !important; }

.bold_swatch_selected.bold_option_value_element {
  border: 3px solid #e14984 !important; }

.bold_option_element select option {
  border: 2px solid #eaeaea;
  paddding: 2px; }

.bold_option_checkbox .bold_option_element input {
  -webkit-appearance: checkbox; }

/*THIS IS HOW TO MAKE THE RADIO BUTTON SELECTABLE 
.bold_option_checkbox .bold_option_value label {
  border: 1px solid #eaeaea;
  margin: 2px 2px;
  /*max-width:350px;
  width: 100%;
  padding: 2px 8px;
  border-radius: 4px;
  display: block;
  background-color: whitesmoke; }

.bold_option_checkbox .bold_option_value label:hover {
  background-color: #e14984;
  color: #fff; }

/* CART STYLE 
.cart__meta .list-view-item__title a {
  font-size: 22px; }

.cart__meta .bold_option_title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  border-bottom: 1px solid #e14984;
  padding-bottom: 3px; }

.cart__meta .bold_option_value {
  font-size: 16px; }

.bold_option_value_price {
  font-size: 100%;
  padding-left: 20px; }


  .bold_option_dropdown .bold_option_element {
  margin-left: 0 !important; }

*/
