



<style>

</style>


<div class="page-width">
	<h1>Cake Cutting Guide</h1>


  <h2>Cake Types</h2>

  <p>Depending on the cake there are different cutting methods.</p>

  <p>Select a method based on the type of cake you have.</p>

<br>

	<div class="layer-cont-flavor">
		<div class="layer-sub">
            <div class="layer-txt1">Single Layer Cake</div>
            <div class="layer-txt2">One layer of cake, cut in half and filled.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layer-1.svg?v=1710531886" alt="One layer of cake, cut in half and filled." border="0" />
            <div class="layer-txt2">Typically round and sheet cakes.</div>
            <div class="sub-btns">
              <a href="#sl" class="layer-btn">Round</a>
              <a href="#sht" class="layer-btn">Sheet</a>
            </div>
		</div>	
		<div class="layer-sub">
            <div class="layer-txt1">Double Layer Cake</div>
            <div class="layer-txt2">Two layers of cake, with a filling in the middle.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layer-2.svg?v=1710531886" alt="Two layers of cake, with a filling in the middle." border="0" />
            <div class="layer-txt2">Typically round and kitchen cakes.</div>
            <a href="#dl" class="layer-btn">Select</a>
		</div>	
		<div class="layer-sub">
            <div class="layer-txt1">Tiered Cakes</div>
            <div class="layer-txt2">Double layer cakes, of different sizes, stacked on top of each other.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layer-3.svg?v=1710531886" alt="Double layer cakes, of different sizes, stacked on top of each other." border="0" />
            <div class="layer-txt2">Round and square cakes.</div>
            <a href="#dl" class="layer-btn">Select</a>
		</div>	
    </div>
      
      

  
  <br><br><br>
<span id="sl" class="anchor"></span>
  <h2>How to Cut a SINGLE LAYER Round Cake</h2>
  
<div class="layer-cont">
	<div class="layer-subcont">
		<div class="layer-subsubcont">
            <div class="layer-txt1">Step 1</div>
            <div class="layer-txt2">Cut 2 inches over</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl1.svg?v=1710536497" alt="Cut 2 inches over" border="0" />
			
		</div>			
		<div class="layer-subsubcont">
        	<div class="layer-txt1">Step 2</div>
            <div class="layer-txt2">Cut 2 inch slices and remove each slices as it is cut.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl2.svg?v=1710536497" alt="Cut 2 inch slices and remove each slices as it is cut." border="0" />
			
		</div>

		<div class="layer-subsubcont">
          <div class="layer-txt1">Step 3</div>
            <div class="layer-txt2">Repeat a cut 2 inches over.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl3.svg?v=1710536497" alt="Repeat a cut 2 inches over." border="0" />
			
		</div>			
		<div class="layer-subsubcont">
        	<div class="layer-txt1">Step 4</div>
            <div class="layer-txt2">Cut 2 inch slices and remove each slice as it is cut.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl4.svg?v=1710536497" alt="Cut 2 inch slices and remove each slice as it is cut." border="0" />
				
		</div>

      		<div class="layer-subsubcont">
        	<div class="layer-txt1">Step 5</div>
            <div class="layer-txt2">Repeat steps 3 and 4 until the cake is cut.</div>	
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl5.svg?v=1710526620" alt="Repeat steps 3 and 4 until the cake is cut." border="0" />
			
		</div>
	</div>
</div>
  <p class="tinytext">Pro tip: Keep a cup of warm water handy to dip the knife in and wipe off with a paper towel after each slice for a smoother cut.</p>
<br>
  <br>

  
<span id="dl" class="anchor"></span>
  <h2>How to Cut a DOUBLE LAYER Round Cake</h2>
  
<div class="layer-cont">	
	<div class="layer-subcont">
		<div class="layer-subsubcont">
         <div class="layer-txt1">Step 1</div>
            <div class="layer-txt2">Cut 2 inches over</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl1.svg?v=1710536423" alt="Cut 2 inches over" border="0" />
			
		</div>			
		<div class="layer-subsubcont">
          <div class="layer-txt1">Step 2</div>
            <div class="layer-txt2">Cut 1 inch slices and remove each slices as it is cut.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl2.svg?v=1710536423" alt="Cut 1 inch slices and remove each slices as it is cut." border="0" />
		</div>	

      		<div class="layer-subsubcont">
              <div class="layer-txt1">Step 3</div>
            <div class="layer-txt2">Repeat a cut 2 inches over.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl3.svg?v=1710536424" alt="Repeat a cut 2 inches over." border="0" />
		</div>	
      		<div class="layer-subsubcont">
              <div class="layer-txt1">Step 4</div>
            <div class="layer-txt2">Cut 1 inch slices and remove each slice as it is cut.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl4.svg?v=1710536423" alt="Cut 1 inch slices and remove each slice as it is cut." border="0" />
			
		</div>	
      		<div class="layer-subsubcont">
              <div class="layer-txt1">Step 5</div>
            <div class="layer-txt2">Repeat steps 3 and 4 until the cake is cut.</div>	
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl5.svg?v=1710526566" alt="Repeat steps 3 and 4 until the cake is cut." border="0" />
		</div>	    
	</div>				
</div>	
  <p class="tinytext">Pro tip: Keep a cup of warm water handy to dip the knife in and wipe off with a paper towel after each slice for a smoother cut.</p>
<br>
  <br>
<span id="sht" class="anchor"></span>
   <h2>How to Cut a SINGLE LAYER Sheet Cake</h2>
  
	<div class="layer-cont">	
	<div class="layer-subcont">		
		<div class="layer-subsubcont">
            <div class="layer-txt1">Step 1</div>
            <div class="layer-txt2">Cut 2 inches over</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl1.svg?v=1710536547" alt="Cut 2 inches over" border="0" />
			
		</div>
		<div class="layer-subsubcont">
            <div class="layer-txt1">Step 2</div>
            <div class="layer-txt2">Cut 2 inch slices and remove each slices as it is cut.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl2.svg?v=1710537674" alt="Cut 2 inch slices and remove each slices as it is cut." border="0" />
				
		</div>

		<div class="layer-subsubcont">
           <div class="layer-txt1">Step 3</div>
            <div class="layer-txt2">Repeat a cut 2 inches over.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl3.svg?v=1710537674" alt="Repeat a cut 2 inches over." border="0" />
				
		</div>

		<div class="layer-subsubcont">
           <div class="layer-txt1">Step 4</div>
            <div class="layer-txt2">Cut 2 inch slices and remove each slice as it is cut.</div>
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl4.svg?v=1710537674" alt="Cut 2 inch slices and remove each slice as it is cut." border="0" />
			
		</div>

		<div class="layer-subsubcont">
            <div class="layer-txt1">Step 5</div>
            <div class="layer-txt2">Repeat steps 3 and 4 until the cake is cut.</div>	
			<img class="layer-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl5.svg?v=1710526670" alt="Repeat steps 3 and 4 until the cake is cut." border="0" />
				
		</div>
	</div>
</div>	
    <p class="tinytext">Pro tip: Keep a cup of warm water handy to dip the knife in and wipe off with a paper towel after each slice for a smoother cut.</p>
<br>
  <br>


</div>

</div>