



<style>
	
.handle-cont {
	display: grid;
	grid-row-gap: 25px;
	grid-column-gap: 25px;
	grid-template-rows: 1fr ;
	/*grid-template-columns: repeat(auto-fit, minmax( 25px, 1fr));*/
	grid-template-columns: 1fr 1fr 1fr;
/*	border: 1px solid purple;*/
	padding-top: 30px;
}
	
.handle-subcont {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	grid-template-rows: 1fr;
	/*grid-template-columns: repeat(auto-fit, minmax( 25px, 1fr));*/
	grid-template-columns: 1fr 1fr;	
	align-items: start;
	justify-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	padding: 10px;
	}	
	
.handle-subsubcont {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 2px;
	grid-template-rows: min-content 1fr;
	/*grid-template-columns: repeat(auto-fit, minmax( 25px, 1fr));*/
	grid-template-columns: 1fr;	
	align-items: center;
	justify-items: center;
/*	border: 1px solid orange;*/
	}	
	
.handle-subcont:hover {
	background-color: #f9f9f9;
	
	}
	

	.handle-subsubcont div {
/*		border: 1px solid purple;*/
	}	
	.handle-img1, .handle-img2{
		width: 100%;
		max-width: 240px;
	}	
	
	.handle-txt1 {
		color: #ed1c24;
/*		font-weight: bold;*/
	}
	
	.handle-txt2 {
		color: #009444;
/*		font-weight: bold;*/
	}
	.handle-txt1, .handle-txt2 {
		text-align: center;
	}
	
	
@media (max-width: 1275px) {
.handle-cont {
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 25px;
	font-size: 90%;
}
	}
	
@media (max-width: 800px) {
.handle-cont {
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
}
.handle-txt1, .handle-txt2 {
		font-size: 85%;
	}	
	}
	
@media (max-width: 600px) {
.handle-txt1, .handle-txt2 {
		font-size: 80%;
	}	
	}	
	
</style>


<div class="page-width">
	<h1>Handling Guide</h1>

<p>Follow these guidelines to ensure your desserts make it to their destination in great shape!</p>

<div class="handle-cont">
	<div class="handle-subcont">
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_08.png?v=1679798624" alt="Do not tilt the boxes." border="0" />
			<div class="handle-txt1">Do not tilt the boxes.</div>
		</div>			
		<div class="handle-subsubcont">
	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_09.png?v=1679798624" alt="Keep the boxes flat at all times.." border="0" />
			<div class="handle-txt2">Keep the boxes flat at all times.</div>	
		</div>
	</div>
	<div class="handle-subcont">
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_13.png?v=1679798624" alt="Do not carry CUPCAKES from the bottom." border="0" />
			<div class="handle-txt1">Do not carry CUPCAKES from the bottom.</div>
		</div>			
		<div class="handle-subsubcont">
	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_14.png?v=1679798624" alt="Carry CUPCAKES from the outside. This will keep them in their holders." border="0" />
			<div class="handle-txt2">Carry CUPCAKES from the outside. This will keep them in their holders.</div>	
		</div>
	</div>
	
	
	
	<div class="handle-subcont">
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_18.png?v=1679798624" alt="Do not push on the sides of a CAKE box." border="0" />
			<div class="handle-txt1">Do not push on the sides of a CAKE box.</div>
		</div>			
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_19.png?v=1679798624" alt="Carry from the botttom." border="0" />
			<div class="handle-txt2">Carry from the botttom.</div>
		</div>			
	</div>				
		
		
	<div class="handle-subcont">		
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_24.png?v=1679798624" alt="Do not stack mismatched boxes." border="0" />
			<div class="handle-txt1">Do not stack mismatched boxes.</div>	
		</div>
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_25.png?v=1679798624" alt="Carry them separately." border="0" />
			<div class="handle-txt2">Carry them separately.</div>	
		</div>
	</div>
	
	
		
	<div class="handle-subcont">
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_29.png?v=1679798624" alt="Do not stack more than two boxes on each other." border="0" />
			<div class="handle-txt1">Do not stack more than two boxes on each other.</div>
		</div>			
		<div class="handle-subsubcont">	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_30.png?v=1679798624" alt="Carry them separately." border="0" />
			<div class="handle-txt2">Carry them separately.</div>	
		</div>
	</div>
	
	
	<div class="handle-subcont">
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_34.png?v=1679798624" alt="Do not place on a seat." border="0" />
			<div class="handle-txt1">Do not place on a seat.</div>
		</div>	
		<div class="handle-subsubcont">
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/hguide4_35.png?v=1679798624" alt="Place on the floor, in the trunk, or in front of a seat." border="0" />
			<div class="handle-txt2">Place on the floor, in the trunk, or in front of a seat.</div>	
		</div>
	</div>	
</div>

</div>