

<style>

	
.desscalc {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 5px;
	grid-column-gap: 15px;
	padding: 5px;
}
	
.dessgrid {
	display: grid;	
	border-radius: 4px;
	}

.d-one {
  grid-column: 1;
  grid-row: 1;
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	}	
	
.d-two {
  grid-column: 1;
  grid-row: 2;	
	
	}	
.d-three {
  grid-column: 2;
  grid-row: 1;	
	border-left: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	}	
.d-four {
	grid-column: 2;
  	grid-row: 2;	

	}	
	
	
@media (max-width: 1050px) {
.d-one {
  grid-column: 1;
  grid-row: 1;
	border-right: 1px solid #eaeaea;
	}	
	
.d-two {
  grid-column: 1;
  grid-row: 2;	
	border: none;
	}	
.d-three {
  grid-column: 1;
  grid-row: 3;		
	}	
.d-four {
	grid-column: 1;
  	grid-row: 4;
	grid-template-rows: 1fr;
	min-height: 100px;
	}	
	
.desscalc {
	grid-template-columns: 1fr;	
	}
}

.dessgrid fieldset {
	border: none;
	border-bottom: 1px solid #eaeaea;
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 4px;
	text-align: left;
	font-size: 18px;
	padding: 20px 10px;
	}
	
.d-one fieldset {
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	}
.d-three fieldset {
	/*grid-template-rows: 1fr auto 1fr;*/
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;

	}
			
	
	.desserttitle{
		display: grid;
	}
	

	
	
	
	.desserttitle legend {
		font-size: 120%;
		color: #8a54a8;
	}
	.dessertpricerow label {
		padding-right: 8px;
		
	}
	.dessertpricerow label:nth-child(3), .dessertpricerow label:nth-child(5) {
		text-align: right;
	}
	
	.dessertpricerow input {
		width: 60px;
		padding-right: 8px;
		
	}	
	.dessertpricerow input:last-child {
		width: 75px;
	}
	.sliderheight {
		display: grid;
		grid-template-columns: 100px 1fr;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	
	.slider-cont {
		padding: 0 10px;
		
	}
	input {
		background-color: unset;
		border: none;
		font-size: 110%;
	}
	
	
	.sliderheight input {
		display: none;
	}
	
	
.radioleft {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 4px;
	grid-auto-rows: 1fr;
	grid-template-columns: 30px 1fr;
	align-items: center;
	}
	
	.radioleft  input, .cakepricecheck input{
		max-width: 25px;
			justify-content: center;
	}	
	
	.desstotalrow {
		grid-row-gap: 10px;
		align-content: center;
	}
	.desstotalrow input, .desstotalrow label {
		padding-right: 5px;
	}
	
	.hide {
		display: none!important;
	}
	
	
	.dessagree {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-column: 1fr 1fr;
	}

	.cakepricerow {
		
	}
	.cakepricecheck {
		display: grid;
		grid-template-columns: 30px 1fr;
	}	


	
@media (max-width: 530px) {
		
.d-one fieldset {
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr;
	}		
	.cctotalprice {
			text-align: left;
		}
		
	.dessertpricerow {
		display: grid;
		grid-template-columns: min-content 75px;
		grid-template-rows: 1fr 1fr 1fr;
			text-align: left;
		}
	.dessertpricerow label:nth-child(3), .dessertpricerow label:nth-child(5){
		text-align: left;
	}

	.dessertpricerow input:last-child, .dessertpricerow input {
		width: inherit;
		text-align: right;
		padding-right: 0;
	}
	
	.sliderheight {
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-template-rows: 1fr;
	}
	
	.desstotalrow {
		display: grid;
		grid-template-columns: 130px auto;
	}
	.desstotalrow input {
		width: 100px;
		display: grid;
	}
	
	.desstotalrow label {
		display: grid;
	}
	
	
	}
	
	
	
	
.dess-tot-field, .d-four fieldset {
	display:grid;
	font-size:26px;
	color:#FFFFFF;
	margin: 10px 5px;
	border-radius: 4px;
	text-align:center;
	align-content: center;
	justify-content: center;
	background-color:#e14984
	/*padding:30px;*/
}
	.desserttotal {
	background-color:#e14984;
		font-size: 26px;
	}
	
	
.desserttotal input {
	font-family: "Raleway","Lucida Grande","Lucida Sans Unicode",Arial, Helvetica, sans-serif;
	border:none;
	background-color: #e14984;
	color:#FFFFFF !important;
	width:90px;
	font-size:26px;
	padding:0;
	opacity:1;
}
	
	.bottom-buttons	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
	 grid-column-gap: 20px;
	}
	
	.bottom-buttons div	{
		display: grid;
		justify-content: center;
		align-content: center;
		padding: 10px;
	}	
	
	.bottom-buttons div button	{
		max-width: 300px;
		width: 100%;
	}
	
	@media (max-width: 400px) {
		
	}
	
	
	
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background:#ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CCC;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
 box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background:#ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #CCC;
}
input[type=range]:focus::-ms-fill-upper {
  background: #CCC;
}
	
	
	
</style>


<div class="page-width">

<h1> {{ page.title }}</h1>



<p>We are all about simple and delicious. This dessert calculator will help you make planning your dessert selections even easier.</p>
<p>When completed, you may place in the store, over the <a href="tel:17145258350">phone</a> or <a href="https://shop.pattys-cakes.com/">online</a>.</p>



<div class="calcbox">        

	<h2>Instructions:</h2>
    <ol>
      <li>Drag the slider for each dessert item to the quantity desired.</li>
      <li>Select additional items needed.</li>
      <li> Click the box to show the estimated total.</li>
      <li>View your total.</li>
      <li>Adjust all options until you reach your desired quantities and budget.</li>
    </ol>
    <p>&nbsp; </p>

	
	
	<form name="Cake Pricing" class="desscalc">  <!-- inputs with data-add="true" get added to total automatically -->
	<!-- You can change the size="", placeholder="" of each input, all other tags must remain--> 

	<div class="dessgrid d-one">
		 <fieldset data-type="range" data-min="0" data-max="300" data-step="1" data-range="1:3.95,12:3.70,96:3.60,192:3.50,288:3.40">		 
			 <div class="desserttitle"><legend>Cupcakes</legend></div>

			<div class="dessertpricerow">	
				<label for="ccquan" class="dessertpricecol" >Quantity:</label>	
				<input id="ccquan" type="text" class="q_display nogray" placeholder="0"  size="3" disabled>

				<label for="ccprice">Price ea:</label>
				<input id="ccprice" class="nogray" name="price_each" type="text" size="5" placeholder="$0" disabled>

				<label for="cctotalprice">Total </label>
				<input id="cctotalprice" class="total nogray" name="a" type="text" data-add="true" size="5" placeholder="$0" disabled>
			</div>
			<div class="sliderheight">
				<label for="ccquanslider">Quantity</label>
				<div class="slider-cont"><div name="q" value="0"></div></div>
				<input id="ccquanslider" name="a" type="text" data-multiplier="4" data-add="true" size="10" placeholder="$0" disabled>
			</div>
		 </fieldset>
	 <!-- EOF Fieldset for Cupcakes --> 




	<!-- Vegan/Gluten-Free Cupcakes --> 	
		 <fieldset data-type="range" data-min="0" data-max="480" data-step="1" data-range="1:4.40,12:4.15,96:4.05,192:3.95,288:3.85">		 

			 <div class="desserttitle"><legend>Vegan/Gluten-Free</legend></div>          
			<div class="dessertpricerow">

				<label for="veccquan" class="dessertpricecol" >Quantity:</label>	
				<input id="veccquan" type="text" class="q_display nogray" placeholder="0"  size="3" disabled>

				<label for="veccprice">Price ea:</label>
				<input id="veccprice" class="nogray" name="price_each" type="text" size="5" placeholder="$0" disabled>

				<label for="vecctotalprice">Total </label>
				<input id="vecctotalprice" class="total nogray" name="a" type="text" data-add="true" size="5" placeholder="$0" disabled>
			</div>
			<div class="dessertpricerow sliderheight">
				<label for="veccquanslider">Quantity</label>
				<div class="slider-cont"><div name="q" value="0"></div></div>
				<input id="veccquanslider" name="a" type="text" data-multiplier="4" data-add="true" size="10" placeholder="$0" disabled>
			</div>

		 </fieldset>
	 <!-- EOF Vegan/Gluten-Free Cupcakes --> 





	<!-- INDIV BOXES --> 

		 <fieldset data-type="range" data-min="0" data-max="300" data-step="1" data-range="1:.75">		 


			 <div class="desserttitle"><legend>Individual Boxes for Large Cupcakes</legend> </div>         
			<div class="dessertpricerow">

				<label for="bxccquan" class="dessertpricecol" >Quantity:</label>	
				<input id="bxccquan" type="text" class="q_display nogray" placeholder="0"  size="3" disabled>

				<label for="bxccprice">Price ea:</label>
				<input id="bxccprice" class="nogray" name="price_each" type="text" size="5" placeholder="$0" disabled>

				<label for="bxcctotalprice">Total </label>
				<input id="bxcctotalprice" class="total nogray" name="a" type="text" data-add="true" size="5" placeholder="$0" disabled>
			</div>
			<div class="dessertpricerow sliderheight">
				<label for="bxccquanslider">Quantity</label>
				<div class="slider-cont"><div name="q" value="0"></div></div>
				<input id="bxccquanslider" name="a" type="text" data-multiplier="4" data-add="true" size="10" placeholder="$0" disabled>
			</div>


		 </fieldset>
	 <!-- EOF Fieldset for Cupcakes --> 


	<!-- Mini Cupcakes --> 
		 <fieldset data-type="range" data-min="0" data-max="480" data-step="12" data-range="1:2.08,48:2.02,72:1.96,144:1.83">
			<div class="desserttitle"><legend>Mini Cupcakes <div class="tinytext"> (Sold by the dozen)</div></legend></div>

			<div class="dessertpricerow">	
				<label for="mccquan" class="dessertpricecol" >Quantity:</label>	
				<input id="mccquan" type="text" class="q_display nogray" placeholder="0"  size="3" disabled>

				<label for="mccprice">Price ea:</label>
				<input id="mccprice" class="nogray" name="price_each" type="text" size="5" placeholder="$0" disabled>

				<label for="mcctotalprice">Total </label>
				<input id="mcctotalprice" class="total nogray" name="a" type="text" data-add="true" size="5" placeholder="$0" disabled>
			</div>
			<div class="dessertpricerow sliderheight">
				<label for="mccquanslider">Quantity</label>
				<div class="slider-cont"><div name="q" value="0"></div></div>
				<input id="mccquanslider" name="a" type="text" data-multiplier="4" data-add="true" size="10" placeholder="$0" disabled>
			</div>
		 </fieldset>

	 <!-- EOF Fieldset for Mini Cupcakes --> 

	<!-- GF VEGAN Mini Cupcakes --> 
		 <fieldset data-type="range" data-min="0" data-max="480" data-step="12" data-range="1:2.33,48:2.27,72:2.21,144:2.08">
			<div class="desserttitle"><legend>Vegan/Gluten-Free Mini Cupcakes <div class="tinytext"> (Sold by the dozen)</div></legend></div>

			<div class="dessertpricerow">	
				<label for="vemccquan" class="dessertpricecol" >Quantity:</label>	
				<input id="vemccquan" type="text" class="q_display nogray" placeholder="0"  size="3" disabled>

				<label for="vemccprice">Price ea:</label>
				<input id="vemccprice" class="nogray" name="price_each" type="text" size="5" placeholder="$0" disabled>

				<label for="vemcctotalprice">Total </label>
				<input id="vemcctotalprice" class="total nogray" name="a" type="text" data-add="true" size="5" placeholder="$0" disabled>
			</div>
			<div class="dessertpricerow sliderheight">
				<label for="vemccquanslider">Quantity</label>
				<div class="slider-cont"><div name="q" value="0"></div></div>
				<input id="vemccquanslider" name="a" type="text" data-multiplier="4" data-add="true" size="10" placeholder="$0" disabled>
			</div>
		 </fieldset>
	 <!-- EOF Fieldset for GF VEGAN Cupcakes --> 



	<!-- Cake Balls -->  
		<fieldset data-type="range" data-min="0" data-max="300" data-step="1" data-range="1:3.65,24:3.45,96:3.30,192:3.20"> 

			<div class="desserttitle"><legend>Cake Balls</legend></div>  
			<div class="dessertpricerow">	
				<label for="cbquan" class="dessertpricecol" >Quantity:</label>	
				<input id="cbquan" type="text" class="q_display nogray" placeholder="0"  size="3" disabled>

				<label for="cbprice">Price ea:</label>
				<input id="cbprice" class="nogray" name="price_each" type="text" size="5" placeholder="$0" disabled>

				<label for="cbtotalprice">Total </label>
				<input id="cbtotalprice" class="total nogray" name="a" type="text" data-add="true" size="5" placeholder="$0" disabled>
			</div>
			<div class="dessertpricerow sliderheight">
				<label for="cbquanslider">Quantity</label>
				<div class="slider-cont"><div name="q" value="0"></div></div>
				<input id="cbquanslider" name="a" type="text" data-multiplier="4" data-add="true" size="10" placeholder="$0" disabled>
			</div>

		 </fieldset>
	 <!-- EOF Fieldset for Cake Balls --> 


	<!-- Cookies --> 
		 <fieldset data-type="range" data-min="0" data-max="300" data-step="1" data-range="1:2.85,60:2.70,120:2.50">
			 <div class="desserttitle"><legend>Cookies</legend></div> 
			<div class="dessertpricerow">	
				<label for="coquan" class="dessertpricecol" >Quantity:</label>	
				<input id="coquan" type="text" class="q_display nogray" placeholder="0"  size="3" disabled>

				<label for="coprice">Price ea:</label>
				<input id="coprice" class="nogray" name="price_each" type="text" size="5" placeholder="$0" disabled>

				<label for="cototalprice">Total </label>
				<input id="cototalprice" class="total nogray" name="a" type="text" data-add="true" size="5" placeholder="$0" disabled>
			</div>
			<div class="dessertpricerow sliderheight">
				<label for="coquanslider">Quantity</label>
				<div class="slider-cont"><div name="q" value="0"></div></div>
				<input id="coquanslider" name="a" type="text" data-multiplier="4" data-add="true" size="10" placeholder="$0" disabled>
			</div>
		 </fieldset>
	 <!-- EOF Fieldset for Cookies --> 
	</div>
	<div class="dessgrid d-two">

		<fieldset data-type="count-total" data-name="count-total" class="dess-tot-field">
		<div class="desserttitle hide"><legend>Total items:</legend></div>

		<div class="desserttotal">
		<label for="itemtotal">Total Items: </label>
		<input id="itemtotal" name="count-total" type="text" size="5" disabled>
		</div>

		</fieldset>
	</div>
		
		

		
<div class="dessgrid d-three">		

    <!-- Display Cake --> 
	<fieldset data-type="radio">
		<div class="desserttitle"><legend>Display Cake:</legend></div>
         <div class="radioleft">
			
			<input id="cknone" class="radio" name="q" type="radio" value="0">
			<label for="cknone" class="radiotext"> None</label>
			 
			<input id="dlck" class="radio" name="q" type="radio" value="45">
			<label for="dlck" class="radiotext">6&quot; Round Double Layer Cake  - $45</label>

			<input id="2tck" class="radio" name="q" type="radio" value="129">
			<label for="2tck" class="radiotext">2 Tiered Round Cake Serving 25 Guests - $129</label>
              <!-- you can add more inputs, only one with value of 0 allowed-->
         </div>      
         <div class="desstotalrow">  
			 <label for="cktotal">Total: </label>
             <input id="cktotal" class="total" name="a" type="text" data-add="true" size="10" placeholder="$0" disabled>
         </div>
	 </fieldset>
 <!-- EOF Fieldset for Cupcakes --> 






      <!--  STAND RENTAL --> 
	 <fieldset data-type="radio" >
		 
		 <div class="desserttitle"><legend>Stand Rental</legend></div>
		 <p>$35 - Optional, based on availability</p> <!-- Title of selection--> 
		
         <div class="radioleft">
			
			<input id="stndnone" class="radio" name="q" type="radio" value="0">
			<label for="stndnone" class="radiotext"> No</label>
			 
			<input id="standyes" class="radio" name="q" type="radio" value="35">
			<label for="standyes" class="radiotext">Yes</label>

           <!-- you can add more inputs, only one with value of 0 allowed-->
         </div>      
         <div class="desstotalrow">  
			 <label for="stndtotal">Stand Rental</label>
             <input id="stndtotal" class="total" name="a" type="text" data-add="true" size="10" placeholder="$0" disabled>
         </div>
	 </fieldset>
		
		
		    
     
     
     <!-- DELIVERY --> 
	 <fieldset data-type="radio">

		 <div class="desserttitle"><legend>Delivery</legend></div>
		<p>Average price $35. Optional and based on schedule availability. Not available for all types of events.</p> <!-- Title of selection--> 
		
         <div class="radioleft">
			
			<input id="delnone" class="radio" name="q" type="radio" value="0">
			<label for="delnone" class="radiotext"> No</label>
			 
			<input id="delyes" class="radio" name="q" type="radio" value="35">
			<label for="delyes" class="radiotext">Yes</label>

           <!-- you can add more inputs, only one with value of 0 allowed-->
         </div>      
         <div class="desstotalrow">  
			 <label for="deltotal">Delivery: </label>
             <input id="deltotal" class="total" name="a" type="text" data-add="true" size="10" placeholder="$0" disabled>
         </div>		 
	 </fieldset>

      <!--  SETUP --> 
	 <fieldset data-type="radio" >
		 
		 <div class="desserttitle"><legend>Setup</legend></div>
		<p>Average price - $45 - Optional, requires delivery.</p> <!-- Title of selection--> 
		
         <div class="radioleft">
			
			<input id="sunone" class="radio" name="q" type="radio" value="0">
			<label for="sunone" class="radiotext"> No</label>
			 
			<input id="suyes" class="radio" name="q" type="radio" value="45">
			<label for="suyes" class="radiotext">Yes</label>

           <!-- you can add more inputs, only one with value of 0 allowed-->
         </div>      
         <div class="desstotalrow">  
			 <label for="sutotal">Setup: </label>
             <input id="sutotal" class="total" name="a" type="text" data-add="true" size="10" placeholder="$0" disabled>
         </div>			 
	 </fieldset>

     
     <!-- Radio option to adjust the following slider--> 
   <fieldset data-type="agreement" class="dessagree" >
	   <div class="desserttitle"><legend>Estimate Total</legend></div>
   		<div class="cakepricerow">
   			<div>Click to show the estimated total. This is an estimate, your final price may vary. </div>
		</div>
	   <div class="cakepricecheck">
        	<input id="confirm" name="q" type="checkbox" value="accept">
		   <label for="confirm">Got it! Show me the money!</label>
        	
        </div>            
     
   </fieldset>
 <!-- EOF Fieldset for Cupcakes -->
</div>	
<div class="dessgrid d-four">
	
	
<!-- Begin Fieldset for Total--> 
 <fieldset data-type="total" data-name="total" class="dess-tot-field"><!-- There can only be one total-->
  <legend class="desserttitle hide">Confirm</legend>
 <div class="desserttotal">
	 <label for="total">Total Price </label>
	 <input id="total" name="total" type="text" data-subtotal="0" data-format="currency" size="6" placeholder="$0" disabled>
 </div>
 
</fieldset>
<!-- EOF Fieldset for Total--> 
</div>
		
</form>
	
	<br><br><br><br>
<h2 style="text-align: center;">Place your order</h2>	
<div class="bottom-buttons">
	<div><button class="button" href="/">Place your order online</button></div>
		
	<div><button class="button" href="https://pattys-cakes.com/events">Submit a inquiry for an Event</button></div>
</div>	
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>	
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
	
<!--script src="https://pattys-cakes.com/wp-content/themes/pcakeswideopen/js/volumeDiscount-min.js?v=3.1.7" language="javascript"></script-->

<script type="text/javascript">
	
	//volumeDiscount-min FUCK IT, JUST DROP IT IN HERE. 
	function findElement(elem,name){for(var elms_len=elem.length,i=0;i<elms_len;i++)if(elem[i].name===name)return elem[i]}function pushText(form){for(var parentElements=form.elements,replaceData=[],k=0,i=0;i<parentElements.length;i++)"replaceData"===parentElements[i].className&&(replaceData[k]=parentElements[i],k++);if(replaceData.length>0){for(var updateTot,n=replaceData[0].getElementsByTagName("input").length-1;n>=0;n--)!0===replaceData[0].getElementsByTagName("input")[n].checked&&(updateTot=replaceData[0].getElementsByTagName("input")[n].nextSibling.data);updateTot=updateTot.toLowerCase();var replaceText=form.elements.total.parentNode.parentNode.getElementsByClassName("replace");replaceText[0].innerHTML=replaceData[1].value,replaceText[1].innerHTML=updateTot;var sheetTrue=!1;sheetTrue=""!==replaceData[2].value&&"0"!==replaceData[2].value&&"$0"!==replaceData[2].value,replaceText[2].innerHTML=!0===sheetTrue?"with sheet cake":"","$0"!==form.elements.total.value&&"0"!==form.elements.total.value?form.elements.total.parentNode.parentNode.getElementsByTagName("span")[0].className="":form.elements.total.parentNode.parentNode.getElementsByTagName("span")[0].className="hide"}}function range(v,q,t,c){for(var total=[],j=v.length-1;j>=0;j--)if(Number(v[j][0])<=Number(q)){void 0!==v[j][2]?isNaN(Number(v[j][2]))?total[0]=Number(v[j][2].replace(/\'/g,"")):total[0]="multiply"===t?q*Number(v[j][2]):q*v[j][1]:total[0]="multiply"===t?q*c:q*v[j][1],total[1]=v[j][1];break}return total}function updateTotals(form){for(var totalsSet=form.querySelectorAll("[data-add]"),updatedTotal=0,i=totalsSet.length-1;i>=0;i--)isNaN(Number(totalsSet[i].value.split("$")[1]))||(updatedTotal+=Number(totalsSet[i].value.split("$")[1]));form.elements.total.getAttribute("data-subtotal")&&(updatedTotal+=Number(form.elements.total.getAttribute("data-subtotal")))===Number(form.elements.total.getAttribute("data-subtotal"))?(form.elements.total.value="$0",form.elements.total.parentNode.parentNode.getElementsByTagName("span")[0].className="hide"):form.elements.total.value="$"+updatedTotal.toFixed(0);var sum=0;jQuery(".q_display").each(function(){sum+=Number($(this).val())}),jQuery("fieldset[data-name='count-total'] input[name='count-total']").val(sum)}function addRangeListener(elemName,form,type){function adjustSliderVal(valueSlide){var getValue=valueSlide;if("true"===elemName.getAttribute("data-inherit")?Number(valueSlide)<jQuery(targetName.q).slider("option","min")+1&&"false"===jQuery(targetName.q).attr("data-reset")?(jQuery(targetName.q).parent().parent().parent().attr("data-min",jQuery(targetName.q).slider("option","min")),valueSlide=0,getValue=0,jQuery(targetName.q).slider("option","min",0),jQuery(targetName.q).slider("option","min",parseFloat(jQuery(targetName.q).parent().parent().parent().attr("data-min"))),jQuery(targetName.q).attr("data-reset","true")):Number(valueSlide)>=1&&"true"===jQuery(targetName.q).attr("data-reset")?(jQuery(targetName.q).slider("option","min",min-1),jQuery(targetName.q).attr("data-reset","false"),getValue=Number(valueSlide)+Number(jQuery(elemName).prev().find(".ui-slider").slider("value"))):getValue=Number(valueSlide)+Number(jQuery(elemName).prev().find(".ui-slider").slider("value")):Number(valueSlide)<jQuery(targetName.q).slider("option","min")+1&&(jQuery(targetName.q).parent().parent().parent().attr("data-min",jQuery(targetName.q).slider("option","min")),valueSlide=0,getValue=0,jQuery(targetName.q).slider("option","min",0),jQuery(targetName.q).slider("option","min",parseFloat(jQuery(targetName.q).parent().parent().parent().attr("data-min")))),getValue>0&&Number(valueSlide)>=Number(jQuery(targetName.q).slider("option","min"))){for(var getRange=elemName.getAttribute("data-range").split(","),finalRange=[],k=0;k<getRange.length;k++)finalRange.push(getRange[k].split(":"));var thisTotal=[];thisTotal.push(range(finalRange,getValue,type,targetName.c)),"true"===elemName.getAttribute("data-inherit")&&(thisTotal[0][0]=thisTotal[0][0]-Number(jQuery(elemName).prev().find(".ui-slider").slider("value"))*Number(thisTotal[0][1])),targetName.a.value="$"+Number(thisTotal[0][0]).toFixed(0),targetName.p.value="multiply"===type?Number(thisTotal[0][1]):"$"+Number(thisTotal[0][1])}else targetName.a.value="",targetName.p.value="",targetName.d[0].value=0;if("true"===jQuery(elemName2).next().attr("data-inherit")){var inheritTarget1=jQuery(elemName).next().find(".ui-slider");targetName.d[0].value>0?jQuery(inheritTarget1).slider("enable"):(jQuery(inheritTarget1).slider("disable"),jQuery(elemName).next().find("input").each(function(){jQuery(this).val(0)}),jQuery(elemName).next().find(".ui-slider").each(function(){jQuery(this).slider("value",jQuery(this).slider("option","min"))}))}"true"===elemName.getAttribute("data-inherit")&&Number(valueSlide)<min&&(valueSlide=0,getValue=0,targetName.a.value="",targetName.p.value="",targetName.d[0].value=0,jQuery(targetName.q).slider("option","min",0)),updateTotals(form),pushText(form)}var elemName2=jQuery(elemName),targetName=[];targetName.q=jQuery(elemName).find('div[name="q"]'),targetName.d=elemName.getElementsByClassName("q_display"),targetName.a=findElement(elemName.getElementsByTagName("input"),"a"),targetName.p=findElement(elemName.getElementsByTagName("input"),"price_each"),"multiply"===type&&(targetName.c=targetName.a.getAttribute("data-multiplier"));var min,max,step;min=parseFloat(jQuery(elemName).attr("data-min")),max=parseFloat(jQuery(elemName).attr("data-max")),step=parseFloat(jQuery(elemName).attr("data-step")),jQuery(targetName.q).slider({value:0,min:min,max:max,step:step,slide:function(event,ui){jQuery(targetName.d).val(ui.value),adjustSliderVal(ui.value)}}),"true"===elemName.getAttribute("data-inherit")&&(jQuery(targetName.q).attr("data-reset","true"),jQuery(targetName.q).slider("disable"))}function addRadioListener(elemName,indice,form){function setDataRange(choice){var optGet=jQuery(elemName2).find("input:eq("+choice+")").val(),Default=jQuery(elemName).next().attr("data-range"+optGet);jQuery(elemName).next().attr("data-range",Default)}function setDataMax(choice){jQuery(elemName).next().find(".ui-slider").slider("option","max",choice)}function setDataMin(choice){jQuery(elemName).next().find(".ui-slider").slider("option","min",choice),jQuery(elemName).next().find("fieldset").attr("data-min",choice)}var targetName=[];targetName.q=elemName.getElementsByTagName("input"),targetName.a=elemName.getElementsByTagName("input").a;var elemName2=jQuery(elemName);"true"===elemName.getAttribute("data-controller")&&setDataRange(0);for(var i=0;i<targetName.q.length;i++)targetName.q[i].name===indice&&("0"===targetName.q[i].value&&targetName.q[i].setAttribute("checked","checked"),targetName.q[i].addEventListener("click",function(e){var getValue="";if("true"===elemName.getAttribute("data-controller")){for(var x=0;x<jQuery(form).find("fieldset").length;x++)jQuery(form).find("fieldset:eq("+x+")").attr("data-inherit")&&jQuery(form).find('fieldset:eq("+x+") input[name="q"]').attr("disabled","disabled");setDataRange(e.target.value),setDataMax(parseFloat(e.target.getAttribute("data-max"))),setDataMin(parseFloat(e.target.getAttribute("data-min")));for(var toClear=jQuery(form).find("input").not('[type="radio"]'),i=toClear.length-1;i>=0;i--)toClear[i].value=0;jQuery(form).find(".ui-slider").each(function(){jQuery(this).slider("value",jQuery(this).slider("option","min")),jQuery(this).attr("data-reset")&&(jQuery(this).attr("data-reset","true"),jQuery(this).slider("disable"))})}else"0"!==e.target.value&&(getValue=e.target.value),targetName.a.value=getValue>0?"$"+getValue:"",updateTotals(form);"true"===elemName.getAttribute("data-controller")&&pushText(form)},!1))}function addAgreementListener(elemName,form){var targetName=[];targetName.q=findElement(elemName.getElementsByTagName("input"),"q");for(var totalField,i=0;i<form.elements.length;i++)"fieldset"===form.elements[i].localName&&"total"===form.elements[i].getAttribute("data-type")&&(totalField=form.elements[i]);targetName.q.addEventListener("click",function(e){e.target.checked?totalField.className="":totalField.className="hide"},!1),totalField.className="hide"}function buildForm(formName){for(var type,currentForm=document.forms[formName],i=0;i<currentForm.elements.length;i++)if("fieldset"===currentForm.elements[i].localName&&("range"===currentForm.elements[i].getAttribute("data-type")&&(type=currentForm.elements[i].getAttribute("data-multiplier")?"multiply":"normal",addRangeListener(currentForm.elements[i],currentForm,type)),"agreement"===currentForm.elements[i].getAttribute("data-type")&&addAgreementListener(currentForm.elements[i],currentForm),"radio"===currentForm.elements[i].getAttribute("data-type"))){for(var rename=currentForm.elements[i].getElementsByTagName("input"),newRename="q_"+i,p=rename.length-1;p>=0;)"q"===rename[p].name&&rename[p].setAttribute("name",newRename),p--;addRadioListener(currentForm.elements[i],newRename,currentForm)}}




jQuery(document).ready(function(){
buildForm('Cake Pricing'); 

});

</script>

</div>
	
</div>	
        
	