<div class="page-width">
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/0c7LTIfbKVmdvDadrjfx9Q" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="209718"></div>


<br>
  <h2>LOYALTY FAQS</h2>
  <h4>Are points earned with in-store and online purchases?</h4>
    <p>Currently, points are only earned with ONLINE purchases. Eventually, we will add in-store purchases, but they are not currently available.</p>
  
  <h4>Will I receive rewards points for purchases I made before creating my rewards account?</h4>
    <p>You will only receive points for purchases made after creating your rewards account. Make sure to create an account before placing an order so you can receive points!</p>

  <h4>When do my rewards points expire?</h4>
    <p>Your points will expire after one year of inactivity. Inactivity includes not interacting with our program i.e., redeeming points, placing an order, etc.</p>

  <h4>How long does my rewards status last?</h4>
    <p>Once you level up, you will be in that tier for one year from the date you unlocked it. Make sure to keep interacting with our program to maintain your status or even move up a tier!</p>

  <h4>Can I use more than one reward on a purchase?</h4>
    <p>You can only use one coupon/discount per order.</p>
    
</div>