



<style>
	
.handle-cont {
	display: grid;
	grid-row-gap: 25px;
	grid-column-gap: 25px;
	grid-template-rows: 1fr ;
	/*grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));*/
	grid-template-columns: 1fr;
/*	border: 1px solid purple;*/
	padding-top: 30px;
  padding-bottom: 30px;
}
	
.handle-subcont {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
	/*grid-template-columns: 1fr 1fr;	*/
	align-items: start;
	justify-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	padding: 10px;
 
	}	
	
.handle-subsubcont {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 2px;
	grid-template-rows: 60px auto 1fr;
	/*grid-template-columns: repeat(auto-fit, minmax( 25px, 1fr));*/
	grid-template-columns: 1fr;	
	align-items: center;
	justify-items: center;
   background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  width: 100%;
  height: 100%;
	}	


 .handle-txt1 {
   .padding-top: 10px;
 }
  
  .handle-txt2 {
   padding: 0 10px;
 }
   .handle-img1 { 
   padding-bottom: 10px;
 }

	.handle-img1, .handle-img2{
		width: 100%;
		max-width: 350px;
	}	
	
	.handle-txt1 {
      font-family: "Fjalla One", sans-serif;
		color: #e14984;
      font-size: 120%      
	}
	
	.handle-txt2 {
			}
	.handle-txt1, .handle-txt2 {
		text-align: center;
	}
	



  .layer-cont {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
	/*grid-template-columns: 1fr 1fr;	*/
	align-items: start;
	justify-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	padding: 10px;
 
	}	
	
.layer-sub {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 2px;
	grid-template-rows: 60px auto 1fr;
	/*grid-template-columns: repeat(auto-fit, minmax( 25px, 1fr));*/
	grid-template-columns: 1fr;	
	align-items: center;
	justify-items: center;
   background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  width: 100%;
  height: 100%;
	}	

  
	
</style>


<div class="page-width">
	<h1>Cake Cutting Guide</h1>


  <h2>Cake Types</h2>

  <p>Depending on the cake, there are different cutting methods.</p>

  <p>Select the kind of cake you have.</p>

  
  <img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layers-explained.png?v=1678725648"/>

	<div class="layer-cont">
		<div class="layer-sub">
            <div class="handle-txt1">Single Layer</div>
            <div class="handle-txt2">One layer of cake, cut in half and filled.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layer-1.svg?v=1710531886" alt="Cut 2 inches over" border="0" />
            <div class="handle-txt2">Typically rounds and sheet cakes.</div>
            <a class="handle-txt2">Select</a>
		</div>	
		<div class="layer-sub">
            <div class="handle-txt1">Double Layer</div>
            <div class="handle-txt2">Cut 2 inches over</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layer-2.svg?v=1710531886" alt="Cut 2 inches over" border="0" />
            <div class="handle-txt2">Cut 2 inches over</div>
            <a class="handle-txt2">Select</a>
		</div>	
		<div class="layer-sub">
            <div class="handle-txt1">Tiered</div>
            <div class="handle-txt2">Cut 2 inches over</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layer-3.svg?v=1710531886" alt="Cut 2 inches over" border="0" />
            <div class="handle-txt2">Cut 2 inches over</div>
            <a class="handle-txt2">Select</a>
		</div>	
    </div>
      
      

  
  <br><br><br>

  <h2>How to Cut a SINGLE LAYER Round Cake</h2>
  
<div class="handle-cont">
	<div class="handle-subcont">
		<div class="handle-subsubcont">
            <div class="handle-txt1">Step 1</div>
            <div class="handle-txt2">Cut 2 inches over</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl1.svg?v=1710528054" alt="Cut 2 inches over" border="0" />
			
		</div>			
		<div class="handle-subsubcont">
        	<div class="handle-txt1">Step 2</div>
            <div class="handle-txt2">Cut 2 inch slices and remove each slices as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl2.svg?v=1710526620" alt="Keep the boxes flat at all times.." border="0" />
			
		</div>

		<div class="handle-subsubcont">
          <div class="handle-txt1">Step 3</div>
            <div class="handle-txt2">Repeat a cut 2 inches over.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl3.svg?v=1710526620" alt="Do not carry CUPCAKES from the bottom." border="0" />
			
		</div>			
		<div class="handle-subsubcont">
        	<div class="handle-txt1">Step 4</div>
            <div class="handle-txt2">Cut 2 inch slices and remove each slice as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl4.svg?v=1710526620" alt="Carry CUPCAKES from the outside. This will keep them in their holders." border="0" />
				
		</div>

      		<div class="handle-subsubcont">
        	<div class="handle-txt1">Step 5</div>
            <div class="handle-txt2">Repeat steps 3 and 4 until the cake is cut.</div>	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl5.svg?v=1710526620" alt="Carry CUPCAKES from the outside. This will keep them in their holders." border="0" />
			
		</div>
	</div>
</div>		

  <h2>How to Cut a DOUBLE LAYER Round Cake</h2>
  
<div class="handle-cont">	
	<div class="handle-subcont">
		<div class="handle-subsubcont">
         <div class="handle-txt1">Step 1</div>
            <div class="handle-txt2">Cut 2 inches over</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl1.svg?v=1710526480" alt="Do not push on the sides of a CAKE box." border="0" />
			
		</div>			
		<div class="handle-subsubcont">
          <div class="handle-txt1">Step 2</div>
            <div class="handle-txt2">Cut 1 inch slices and remove each slices as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl2.svg?v=1710526566" alt="Carry from the botttom." border="0" />
		</div>	

      		<div class="handle-subsubcont">
              <div class="handle-txt1">Step 3</div>
            <div class="handle-txt2">Repeat a cut 2 inches over.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl3.svg?v=1710526567" alt="Carry from the botttom." border="0" />
		</div>	
      		<div class="handle-subsubcont">
              <div class="handle-txt1">Step 4</div>
            <div class="handle-txt2">Cut 1 inch slices and remove each slice as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl4.svg?v=1710526566" alt="Carry from the botttom." border="0" />
			
		</div>	
      		<div class="handle-subsubcont">
              <div class="handle-txt1">Step 5</div>
            <div class="handle-txt2">Repeat steps 3 and 4 until the cake is cut.</div>	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl5.svg?v=1710526566" alt="Carry from the botttom." border="0" />
		</div>	    
	</div>				
</div>	


   <h2>How to Cut a SINGLE LAYER Sheet Cake</h2>
  
	<div class="handle-cont">	
	<div class="handle-subcont">		
		<div class="handle-subsubcont">
            <div class="handle-txt1">Step 1</div>
            <div class="handle-txt2">Cut 2 inches over</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl1.svg?v=1710526671" alt="Do not stack mismatched boxes." border="0" />
			
		</div>
		<div class="handle-subsubcont">
            <div class="handle-txt1">Step 2</div>
            <div class="handle-txt2">Cut 2 inch slices and remove each slices as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl2.svg?v=1710526670" alt="Carry them separately." border="0" />
				
		</div>

		<div class="handle-subsubcont">
           <div class="handle-txt1">Step 3</div>
            <div class="handle-txt2">Repeat a cut 2 inches over.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl3.svg?v=1710526670" alt="Carry them separately." border="0" />
				
		</div>

		<div class="handle-subsubcont">
           <div class="handle-txt1">Step 4</div>
            <div class="handle-txt2">Cut 2 inch slices and remove each slice as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl4.svg?v=1710526671" alt="Carry them separately." border="0" />
			
		</div>

		<div class="handle-subsubcont">
            <div class="handle-txt1">Step 5</div>
            <div class="handle-txt2">Repeat steps 3 and 4 until the cake is cut.</div>	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl5.svg?v=1710526670" alt="Carry them separately." border="0" />
				
		</div>
	</div>
</div>		


</div>

</div>