



<style>
	
.handle-cont {
	display: grid;
	grid-row-gap: 25px;
	grid-column-gap: 25px;
	grid-template-rows: 1fr ;
	/*grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));*/
	grid-template-columns: 1fr;
/*	border: 1px solid purple;*/
	padding-top: 30px;
}
	
.handle-subcont {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
	/*grid-template-columns: 1fr 1fr;	*/
	align-items: start;
	justify-items: center;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	padding: 10px;
	}	
	
.handle-subsubcont {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 2px;
	grid-template-rows: min-content 1fr;
	/*grid-template-columns: repeat(auto-fit, minmax( 25px, 1fr));*/
	grid-template-columns: 1fr;	
	align-items: center;
	justify-items: center;
/*	border: 1px solid orange;*/
	}	
	
.handle-subcont:hover {
	background-color: #f9f9f9;
	
	}
	

	.handle-subsubcont div {
/*		border: 1px solid purple;*/
	}	
	.handle-img1, .handle-img2{
		width: 100%;
		max-width: 240px;
	}	
	
	.handle-txt1 {
      font-family: var(--font-heading-family);
      font-style: var(--font-heading-style);
		color: #ed1c24;
    /*		font-weight: bold;*/
      
	}
	
	.handle-txt2 {
		color: #009444;
/*		font-weight: bold;*/
	}
	.handle-txt1, .handle-txt2 {
		text-align: center;
	}
	
	
@media (max-width: 1275px) {
.handle-cont {
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 25px;
	font-size: 90%;
}
	}
	
@media (max-width: 800px) {
.handle-cont {
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
}
.handle-txt1, .handle-txt2 {
		font-size: 85%;
	}	
	}
	
@media (max-width: 600px) {
.handle-txt1, .handle-txt2 {
		font-size: 80%;
	}	
	}	
	
</style>


<div class="page-width">
	<h1>Cake Cutting Guide</h1>

<p>Follow these guidelines to ensure your desserts make it to their destination in great shape!</p>


  <h2>Select the kind of cake you have</h2>
  <img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/cake-layers-explained.png?v=1678725648"/>

  

  
<div class="handle-cont">
	<div class="handle-subcont">
		<div class="handle-subsubcont">
            <div class="handle-txt1">Step 1</div>
            <div class="handle-txt2">Cut 2 inches over</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl1.svg?v=1710528054" alt="Cut 2 inches over" border="0" />
			
		</div>			
		<div class="handle-subsubcont">
        	<div class="handle-txt1">Step 2</div>
            <div class="handle-txt2">Cut 2 inch slices and remove each slices as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl2.svg?v=1710526620" alt="Keep the boxes flat at all times.." border="0" />
			
		</div>

		<div class="handle-subsubcont">
          <div class="handle-txt1">Step 3</div>
            <div class="handle-txt2">Repeat a cut 2 inches over.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl3.svg?v=1710526620" alt="Do not carry CUPCAKES from the bottom." border="0" />
			
		</div>			
		<div class="handle-subsubcont">
        	<div class="handle-txt1">Step 4</div>
            <div class="handle-txt2">Cut 2 inch slices and remove each slice as it is cut.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl4.svg?v=1710526620" alt="Carry CUPCAKES from the outside. This will keep them in their holders." border="0" />
				
		</div>

      		<div class="handle-subsubcont">
        	<div class="handle-txt1">Step 5</div>
            <div class="handle-txt2">Repeat steps 3 and 4 until the cake is cut.</div>	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-sl5.svg?v=1710526620" alt="Carry CUPCAKES from the outside. This will keep them in their holders." border="0" />
			
		</div>
	</div>
</div>		
	
<div class="handle-cont">	
	<div class="handle-subcont">
		<div class="handle-subsubcont">
          <div class="handle-txt1">Do not push on the sides of a CAKE box.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl1.svg?v=1710526480" alt="Do not push on the sides of a CAKE box." border="0" />
			
		</div>			
		<div class="handle-subsubcont">
          <div class="handle-txt2">Carry from the botttom.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl2.svg?v=1710526566" alt="Carry from the botttom." border="0" />
		</div>	

      		<div class="handle-subsubcont">
              <div class="handle-txt2">Carry from the botttom.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl3.svg?v=1710526567" alt="Carry from the botttom." border="0" />
		</div>	
      		<div class="handle-subsubcont">
              <div class="handle-txt2">Carry from the botttom.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl4.svg?v=1710526566" alt="Carry from the botttom." border="0" />
			
		</div>	
      		<div class="handle-subsubcont">
              <div class="handle-txt2">Carry from the botttom.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/rnd-dl5.svg?v=1710526566" alt="Carry from the botttom." border="0" />
		</div>	    
	</div>				
</div>	
  
	<div class="handle-cont">	
	<div class="handle-subcont">		
		<div class="handle-subsubcont">
            <div class="handle-txt1">Do not stack mismatched boxes.</div>	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl1.svg?v=1710526671" alt="Do not stack mismatched boxes." border="0" />
			
		</div>
		<div class="handle-subsubcont">
            <div class="handle-txt2">Carry them separately.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl2.svg?v=1710526670" alt="Carry them separately." border="0" />
				
		</div>

		<div class="handle-subsubcont">
            <div class="handle-txt2">Carry them separately.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl3.svg?v=1710526670" alt="Carry them separately." border="0" />
				
		</div>

		<div class="handle-subsubcont">
            <div class="handle-txt2">Carry them separately.</div>	
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl4.svg?v=1710526671" alt="Carry them separately." border="0" />
			
		</div>

		<div class="handle-subsubcont">
            <div class="handle-txt2">Carry them separately.</div>
			<img class="handle-img1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/sht-sl5.svg?v=1710526670" alt="Carry them separately." border="0" />
				
		</div>
	</div>
</div>		


</div>

</div>